.page-income {
  position: relative;
  font-family: Poppins;
  background: #ffffff;
}

.page-income .title {
  position: relative;
  width: 400px;
  height: 22px;
  left: 100px;
  top: 200px;

  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 22px;
  /* identical to box height, or 61% */

  display: flex;
  align-items: center;

  color: #613d2b;
}
